<div id="content">
    <div id="page">
        <div id="header">
            <h1 style = "color:#018383" align="center">Buscador Lanzamientos</h1>
        </div>
        <app-criterion
            [seleccionado] = "seleccionado"                       
            [subCriterios]= "a_subCriterios"
            (criterioSeleccionado)="onCriterioSeleccionado($event)"
            (subCriterioSeleccionado)="onSubCriterioSeleccionado($event)" >
        </app-criterion>        
        <app-launches-list             
            [lanzamientos]="lanzamientos">
        </app-launches-list>
    </div>   
</div>